
# do not upload intelij project metadata and settings
*.iml
*/*.iml
.idea

# do not upload boxes or the repo will get corrupted becuase of its size
*.box
*/*.box

# omit specific folders and files
*/hints
manager/example
manager/status/*
manager/misc
manager/misc/*
manager/init.sh

# hide or ignore installation packages
*.deb