
<stacksync>
    <!--
    <username>vagrant</username>
    <queuename></queuename>
    <autostart>true</autostart>
    <notifications>true</notifications>
    -->
    <!--
    <apiLogUrl>http://localhost/stack/apiput</apiLogUrl>
    <apiLogUrl>URL_LOG_SERVER_API</apiLogUrl>
    -->
    <remoteLogs>false</remoteLogs>

    <rabbitMQ>
        <host>10.30.232.39</host>

        <port>5672</port>
        <enableSSL>false</enableSSL>

        <username>guest</username>
        <password>guest</password>
        <rpc_exchange>rpc_global_exchange</rpc_exchange>
    </rabbitMQ>

    <cache>
        <size>1024</size>
        <folder>/home/vagrant/.stacksync/cache</folder>
    </cache>

<device>
        <name>Jo</name>
    </device>
    <profile>
        <enabled>true</enabled>
        <name>(unknown)</name>
        <repository>
            <chunksize>512</chunksize>
            <connection type="swift_comercial">
                <username>stacksync:stacksync_e373c1fd_demo17</username>
                <apikey>demo1</apikey>
                <authurl>http://10.30.232.39:5000/v2.0/tokens</authurl>
            </connection>
        </repository>
        <folder>
            <active>true</active>
            <local>/home/vagrant/stacksync_folder</local>
        </folder>
        <account>
            <id>466d654e-31a7-47ba-9085-65f08d8ae863</id>
            <email>demo17@ast.cat</email>
            <password>demo17</password>
        </account>
    </profile>
</stacksync>

