doctype html
html
head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.2.0.3.min.js')
    //script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js")
    script(src='/javascripts/main.js')
    script(src='/javascripts/smoothie.js')
    script(src='/javascripts/chart.js')
    script(src='/javascripts/linemonitor.js')
body
    block content
